<div class="footer">
    <div class="grey-links">
        <div class="pages">Pages</div>
        <a href="/work">
            <div class="grey-link">Work </div>
        </a>
        <a href="/about">
            <div class="grey-link">About</div>
        </a>
        <a href="/contact">
            <div class="grey-link">Contact</div>
        </a>
    </div>
    <div class="footer-icon-block">
        <a href="https://www.linkedin.com/in/sarahmarycoetzee/" target="_blank"
            aria-label="A link to Sarah's LinkedIn account.">
            <i id="linkedin-logo" class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/sarahduncancodes/" target="_blank" aria-label="A link to Sarah's GitHub account.">
            <i id="github-logo" class="fa fa-github"></i>
        </a>
        <a href="https://stackoverflow.com/users/21035177/sarah?tab=profile" target="_blank"
            aria-label="A link to Sarah's Stack Overflow account.">
            <i id="stack-overflow-logo" class="fa fa-stack-overflow"></i>
        </a>
    </div>
</div>