<div class="footer">
    <div class="grey-links">
        <div class="pages">Pages</div>
        <a href="/work">
            <div class="grey-link">Work </div>
        </a>
        <a href="/about">
            <div class="grey-link">About</div>
        </a>
        <a href="/contact">
            <div class="grey-link">Contact</div>
        </a>
    </div>
     <div class="footer-icon-block">
        <a href="https://github.com/sarahduncancodes/" target="_blank">
            <i id="github-logo" class="fa fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/sarahmarycoetzee/" target="_blank">
            <i id="linkedin-logo" class="fa fa-linkedin"></i>
        </a>
    </div>
</div>