<!DOCTYPE html>
<html lang="en">
<br><br>
<hr>
<div class="project-pages">
    <div class="project-page">
        <div class="page-name">
            The notification settings page
        </div>

        <div class="project-image">
            <img src="../photos/app-notifications-page.png" />
        </div>
    </div>
    <div class="project-page">
        <div class="page-name">
            The notification settings in the menu
        </div>

        <div class="project-image">
            <img src="../photos/app-notifications-menu.png" />
        </div>
    </div>
</div>

</html>