<!DOCTYPE html>
<html lang="en">
<br><br>
<hr>
<div class="project-pages">
    <div class="project-page">
        <div class="page-name">
            The home page
        </div>

        <div class="project-image">
            <img src="../photos/portfolio-home.png" />
        </div>
    </div>
    <div class="project-page">
        <div class="page-name">
            The about page
        </div>

        <div class="project-image">
            <img src="../photos/portfolio-about.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The contact me page
        </div>

        <div class="project-image">
            <img src="../photos/portfolio-contact.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The project/work page
        </div>

        <div class="project-image">
            <img src="../photos/portfolio-work.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            A specfic project page
        </div>

        <div class="project-image">
            <img src="../photos/portfolio-project.png" />
        </div>
    </div>
</div>

</html>