<!DOCTYPE html>
<html lang="en">
<br><br>
<hr>
<div class="project-pages">

    <div class="project-page">
        <div class="page-name">
            The page banner
        </div>

        <div class="project-image">
            <img src="../photos/apprenticeships-cover.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The first panel & navigation links
        </div>

        <div class="project-image">
            <img src="../photos/roi-panel1.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The second panel
        </div>

        <div class="project-image">
            <img src="../photos/roi-panel2.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The financial calculator
        </div>

        <div class="project-image">
            <img src="../photos/roi-calculator.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The customised output
        </div>

        <div class="project-image">
            <img src="../photos/roi-outputpanel.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The validation
        </div>

        <div class="project-image">
            <img src="../photos/roi-validation.png" />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The user stories and footer
        </div>

        <div class="project-image">
            <img src="../photos/roi-user-stories.png" />
        </div>
    </div>

</div>

</html>