<!DOCTYPE html>
<html lang="en">
<br><br>
<hr>
<div class="project-pages">

    <div class="project-page">
        <div class="page-name">
            The top of the page
        </div>

        <div class="project-image">
            <img src="../photos/apprenticeships-cover.png"
                alt-text="An image of the home page of the website created in this project." />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The first block of content & navigation menu
        </div>

        <div class="project-image">
            <img src="../photos/roi-panel1.png"
                alt-text="An image of the top section of the website created in this project." />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The second block of content
        </div>

        <div class="project-image">
            <img src="../photos/roi-panel2.png"
                alt-text="An image of the middle section of the website created in this project." />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The calculater for the employer to estimate the funding available to them
        </div>

        <div class="project-image">
            <img src="../photos/roi-calculator.png"
                alt-text="An image of the calculator tool on the website created in this project." />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The customised output based on the calculator inputs
        </div>

        <div class="project-image">
            <img src="../photos/roi-outputpanel.png"
                alt-text="An image of the output panel displayed after the calculator tool has been used on the website created in this project." />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The validation when something goes wrong
        </div>

        <div class="project-image">
            <img src="../photos/roi-validation.png"
                alt-text="An image of the validation of the website created in this project." />
        </div>
    </div>

    <div class="project-page">
        <div class="page-name">
            The user stories and footer
        </div>

        <div class="project-image">
            <img src="../photos/roi-user-stories.png"
                alt-text="An image of the bottom section of the website created in this project." />
        </div>
    </div>

</div>

</html>