<!DOCTYPE html>
<html lang="en" title="about page">

<head>
    <meta charset="UTF-8">

<body>
    {{>main}}

    <div class="about-intro">
        <div class="about-header">Hello! I'm Sarah Duncan.</div>
        <div class="about-content">

            <div class="about-content-1">
                <div class="about-headshot">
                    <div class="headshot"></div>
                </div>
            </div>

            <div class="about-content-2">
                <div class="about-whatido">What I do</div>
                <ul>
                    <li class="about what">Web Development</li>
                    <li class="about what">Web Design</li>
                    <li class="about what">User Experience Design</li>
                </ul>
                <div class="about-whatido">My tech stack</div>
                <ul>
                    <li class="about what">.NET (.NET 3.1 and .netcore 6.0)</li>
                    <li class="about what">ASP.NET Core</li>
                    <li class="about what">Entity Framework</li>
                    <li class="about what">HTML5 & CSS3</li>
                    <li class="about what">JavaScript</li>
                    <li class="about what">Node.js (You're looking at a site that I made using it!)</li>
                </ul>
            </div>
        </div>
        <div class="about-content-3">
            <div class="about-des-1">
                Since the age of 15, I have been a passionate Software Developer. From the moment my fingertips hit
                the
                keyboard and I started learning to code in high school, I was captivated. I believe that in this
                space
                there is always more to learn, and one can never know everything. This attracts me to my
                proffession.
                Anyone in technology will always be faced with the challenge of a growing industry and learning will
                never stop.
            </div>
            <div class="about-des-2">
                I currently work within the Department for Education, more specifically the Apprenticeship Service.
                I am
                on a Delivery Team that focusses on ensuring the experience for all parties involved in an
                apprenticeship is easy and positive. This includes web designing with the user at the forefront,
                prioritising accessibility, mainitaining the standards of 'gov.uk' websites (like GDS standards),
                and
                staying in contact with the users for their valuable contributions to the design of a product.
            </div>
            <div class="about-des-3">
                I started my journey in high school. I attended Alexander Road High School in Port Elizabeth, South
                Africa. Here I took Computer Science as a subject for the first time. When we moved to the United
                Kingdom when I was 16, I started my A Levels. You guessed it! The three subjects I chose included
                Computer Science. I also did Mathematics and Geology. I still maintain a strong interest in Geology.
                I
                completed my A Levels with three A*'s. I then went on to undertake a Level 4 Software Developer
                apprenticeship with the Department for Education.
            </div>
        </div>


    </div>
    <div class="about-next">
        <div class="about-ready">Ready to see what's next?</div>
        <a class="about-chat" href="/contact">Contact me!</a>
    </div>
    {{>footer}}
</body>
</head>

</html>