<!DOCTYPE html>
<html lang="en">
    {{>main}}
    <body>
        <div>Hello, welcome to my portfolio home page!</div>
        <div>
            <img src="/photos/header-image.jpg" height="300" width="300"/>
        </div>
    </body>
</html>