<!DOCTYPE html>
<html lang="en">
{{>main}}

<body>
    <div class="home">
        <div class="decor">
            <div class="home-case">
                <div class="home-box">
                    <div class="typewriter">
                        <h1>I'm Sarah, an </h1>
                    </div>
                    <div class="typewriter-1">
                        <h1>apprentice Software Developer </h1>
                    </div>
                    <div class="typewriter-2">
                        <h1>living in Manchester.</h1>
                    </div>
                </div>
                <a class="home-button" href="/work">Recent work</a>
                <a class="home-button" href="/contact">Contact me</a>

            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>