@font-face {
    font-family: fontRegular;
    src: url(fonts/AGaramondPro-Regular.otf);
}

@font-face {
    font-family: fontRegularBold;
    src: url(fonts/AGaramondPro-Bold.otf);
}

@font-face {
    font-family: fontRegularItalic;
    src: url(fonts/AGaramondPro-Italic.otf);
}

@font-face {
    font-family: fontTechnology;
    src: url(fonts/Technology.ttf)
}

@font-face {
    font-family: fontCode;
    src: url(fonts/Astro.ttf)
}

body {
    font-family: fontRegular;
    background-color: #DDD0C8;
}

/* home and footer pages */

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 5;
    background-color: #323232;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0.2);
}

.navbar-mobile-menu {
    display: none;
}

.name {
    font-family: fontCode;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 12px;
    left: 50px;
    color: white;
    letter-spacing: 0.5px;
    
}

.name:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
}

.icons div {
    margin-right: 20px;
    margin-top: 10px;
}

.icon {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu-icon {
    top: 30px;
    right: 50px;
}

.menu-icon:hover {
    color: white;
}

.menu-slide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
}

.menu-slide a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #978183;
    display: block;
    transition: 0.3s;
    font-family: fontRegular;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu-slide a:hover {
    color: #c7bbbc;
}

.menu-slide .menu-x {
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 16px;
    margin-left: 50px;
}

.menu-overlay {
    width: 0;
    opacity: 0.5;
    background: black;
    height: 1005;
    z-index: 15;
    top: 60px;
}

.home {
    height: 100vh;
    width: 80%;
    margin: auto;
    text-align: center;
}

.home-case {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 450px;
    height: 350px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-box {
    display: inline-block;
    background-color: white;
    border: 1.4px solid #c7bbbc;
    width: 450px;
    height: 248px;
    margin: 0;
    color: #c7bbbc;
    font-family: fontRegular;
    font-size: 14px;
    letter-spacing: 3px;
}

.home-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.home-button {
    text-decoration: none;
    font-family: fontRegularBold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11.8px;
    letter-spacing: 3px;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 12px;
    margin: 24px;
    margin-top: 70px;
}

.home-button:hover {
    background-color: rgb(243, 243, 243);
    color: black;
}

.typewriter h1,
.typewriter-1 h1,
.typewriter-2 h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    animation-fill-mode: both;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.typewriter h1 {
    margin-top: 55px;
}

.typewriter-1 h1 {
    animation-delay: 2s;
}

.typewriter-2 h1 {
    animation-delay: 4s;
}

a {
    text-decoration: none;
}

.footer {
    color: white;
    background-color: #323232;
    width: 100%;
}

.grey-links {
    color: black;
    height: 192px;
    padding-top: 55px;
    padding-left: 8%
}

.linkedin-block {
    text-align: right;
    background-color: white;
    margin: auto;
    height: 63px;
    text-align: right;
}

#linkedin-logo {
    color: black;
    font-size: 20px;
    padding: 28px;
    padding-left: 40px;
}

.pages {
    text-transform: uppercase;
    color: white;
    font-family: fontRegular;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 8px;
    line-height: 18px;
}

.grey-link {
    color: white;
    font-family: fontRegular;
    font-size: 17px;
    font-weight: 400px;
    line-height: 36.5px;
}

.grey-link:hover {
    text-decoration: underline;
}

/* contact me page */

.contact-container {
    width: 60%;
    margin: auto;
    color: black;
}

.contact-title {
    margin-top: 180px;
    margin-bottom: 18px;
    font-family: fontRegular;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4.5px;
}

.contact-form {
    font-family: fontRegular;
    font-size: 17px;
}

.contact-label {
    text-align: left;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 18px;
    transition: all 0.5s ease-in-out;
}

input[type=text],
select,
textarea {
    width: 93%;
    font-size: 17px;
    font-family: fontRegular;
    background-color: white;
    padding: 22px 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    transition: all 0.5s ease-in-out;
}

input[type=submit],
select {
    width: 95.5%;
    font-size: 17px;
    font-family: fontRegular;
    padding: 22px 14px;
    margin: 10px 0;
    margin-bottom: 110px;
    background-color: #323232;
    color: white;
    border: 1px solid #c7bbbc;
    border-radius: 0%;
    -webkit-appearance: none;
    -webkit-border-radius: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

input:focus,
textarea:focus {
    outline: none;
}

.redBorder {
    border: 2px solid #745848   !important;
}

.red-label {
    color: #745848  ;
}

.validation-error {
    display: none;
    color: #745848 ;
    transition: all 0.5s ease-in-out;
}

.validation-error-name,
.validation-error-email,
.validation-error-subject,
.validation-error-message {
    display: flex;
}

#contact-thankyou {
    display: none;
    width: 70%;
    padding-bottom: 190px;
    padding-top: 8px;
    color: black;
    font-family: fontRegular;
    font-size: 27px;
    letter-spacing: 0.4px;
    line-height: 1.6;
}

.contact-home-button {
    width: 12%;
    font-size: 17px;
    font-family: fontRegular;
    text-align: center;
    position: absolute;
    left: 20%;
    padding: 15px 0px;
    background-color: #323232;
    color: white;
    border: 1px solid #c7bbbc;
    border-radius: 0%;
    -webkit-appearance: none;
    -webkit-border-radius: none;
    cursor: pointer;
    margin-top: 26px;
}

.contact-home-button:hover {
    background-color: white;
    color: #323232;
}

#note {
    height: 250px;
    line-height: 1.0;
    width: 93%;
    font-size: 17px;
    font-family: fontRegular;
    background-color: #f5f5f5;
    padding: 22px 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
}

#submitted {
    display: none;
}

/* work page  */
.recent {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.recent-categories {
    margin-top: 11px;
    cursor: pointer;
}

.recent-title {
    margin-top: 130px;
    font-family: fontRegular;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4.5px;
    color: #444;
}

.category {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #8c8c8c;
    font-family: fontRegular;
    text-transform: uppercase;
}

.category:hover {
    color: #745848 ;
}

.work-projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-obj {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    margin: 5px;
    margin-top: 28px;
    margin-bottom: 15px;
    width: 418px;
    height: 280px;
    overflow: hidden;
    padding: 30px;
    padding-bottom: 100px;
    transition: all 0.5s ease;
}

.work-obj:hover,
.work-title:hover {
    transform: scale(1.03);
}

.work-img {
    object-fit: cover;
    width: 418px;
    height: 280px;
    align-items: center;
}

.work-overlay {
    display: block;
    width: 418px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.21);
    opacity: 50%;
    z-index: 3;
    padding: 25px;
    padding-bottom: 100px;

}

.work-title {
    text-align: center;
    width: 418px;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    bottom: 10px;
    left: 0;
    z-index: 4;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: fontRegular;
    cursor: pointer;
}

/* specific project page */
.project-banner {
    width: 100%;
    margin-top: 61px;
    font-family: fontRegular;
    color: black;
    text-transform: uppercase;
    background-size: cover;
}

.project-banner-white {
    border: 0.1px solid #fff;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-bottom: 5%;
    background-color: rgb(255, 255, 255, 0.6);
}

.project-title {
    width: 50%;
    position: relative;
    left: 10%;
    margin-top: 10%;
}

.project-name,
.project-category {
    letter-spacing: 2px;
}

.project-name {
    font-size: 25px;
}

.project-category {
    font-size: 16px;
    top: 186px;
}

.project-block {
    margin-left: 10%;
    width: 65%;
    font-family: fontRegular;
    color: black;
}

.project-des {
    margin-top: 34px;
    font-size: 17px;
    line-height: 28.8px;
}

.project-web {
    margin-top: 90px;
}

#project-arrow {
    float: left;
    font-size: 24px;
    padding-top: 1px;
}

.project-web-name {
    padding-left: 20px;
    font-family: fontRegularBold;
    font-size: 17px;
    color: #444;
}

.project-web-name:hover {
    color: #745848 ;
}

.project-deliv-title,
.project-tools-title {
    font-family: fontRegularBold;
    font-size: 17px;
    text-transform: uppercase;
}

.project-deliv-title {
    margin-top: 35px;
}

.project-deliverables,
.project-tools {
    display: block;
    margin-top: 5.4px;
    font-size: 17px;
}

.project-tools-title {
    margin-top: 57px;
}

.project-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-page {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    background-color: white;
    transition: all 300ms ease-in-out;
}

.project-page:hover {
    transform: scale(1.03);
    border: 0.5px solid black;
}

.project-image img {
    width: 100%;
}

.project-page-image {
    width: 100%;
    margin: auto;
    padding: 50px;
}

.page-name {
    font-size: 16px;
    font-family: fontRegular;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/* about page */

.about-intro {
    width: 85%;
    margin: auto;
    color: #978183;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-header {
    font-size: 23px;
    font-family: fontRegular;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin-bottom: 10px;
}

.about-content-1,
.about-content-2 {
    width: 50%;
}

.about-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(photos/headshot.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20px;
}

.about-content-2 {
    color: black;
    padding: 5px 20px;
}

.about-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-des-1,
.about-des-2,
.about-des-3 {
    background-color: rgb(243, 243, 243);
    padding: 50px 50px;
    color: black;
    margin: 10px;
    box-shadow: 3px 3px 8px gray;
    flex-grow: 1;
    transition: all 300ms ease-in-out;
}

.about-des-1:hover,
.about-des-2:hover,
.about-des-3:hover {
    transform: scale(1.03);
}

.about-des-1 {
    background-color: #dfd9d9;
    flex-grow: 500px;
}

.about-des-2 {
    background-color: #cbc0c1;
}

.about-des-3 {
    background-color: #b6a6a8;
}

.about-headshot {
    width: 50%;
    margin: auto;
    padding: 50px;
}


.about-des {
    font-family: fontRegular;
    margin-top: 20px;
    font-size: 17px;
    line-height: 28.8px;
    color: #444;
}

.about-whatido {
    font-family: fontRegular;
    text-transform: uppercase;
    color: #978183;
    margin-top: 33px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.about-whatido:hover {
    color: black;
}

.about-what {
    font-family: fontRegular;
    margin-top: 1px;
    font-size: 17px;
    line-height: 28.8px;
    color: #444;
}

.about-next {
    height: 330px;
    margin-top: 50px;
    background-color: #e2e2e2;
    color: black;
    text-align: center;
}

.about-ready {
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: fontRegularBold;
    padding-top: 97px;
    padding-bottom: 63px;
}

.about-ready:hover {
    color: #978183;
}

.about-chat {
    border: 2px solid white;
    padding: 20px 20px;
    margin-top: 200px;
    text-transform: uppercase;
    font-family: fontRegularBold;
    letter-spacing: 3px;
    color: white;
}

.about-chat:hover {
    color: white;
    background-color: #c7bbbc;
    border: 2px solid black;

}

.openMenu {
    width: 300px;
}

/* media queries */
@media only screen and (max-width: 800px) {
    .name {
        font-size: 10px;
        top: 30px;
        left: 5px;
    }

    .menu-icon:before {
        font-size: 20px;
    }

    .fa-github-square:before,
    .fa-linkedin-square:before {
        display: none;
    }

    .home-case {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;

    }

    .home-box {
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }

    .home-box-text {
        vertical-align: middle;
    }

    .home-buttons {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 50px;
    }

    .home-button {
        width: 50%;
        margin-top: 20px;
    }

    .typewriter h1 {
        margin-top: 20px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-content-1,
    .about-content-2 {
        width: auto;
        margin: 20px;
    }

    .work-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work-obj {
        height: 100%;
        max-width: 700px;
    }

    .work-title {
        padding-bottom: 10px;
    }

    .openMenu {
        width: 100%;
    }

    .recent {
        align-items: center;
    }
}

@media only screen and (min-width:800px) and (max-width: 1000px) {
    .about-content-1 {
        width: 40%;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .recent {
        display: flex;
        flex-direction: column;
    }

    .recent-categories {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}