@font-face {
    font-family: fontRegular;
    src: url(fonts/AGaramondPro-Regular.otf);
}

@font-face {
    font-family: fontRegularBold;
    src: url(fonts/AGaramondPro-Bold.otf);
}

@font-face {
    font-family: fontRegularItalic;
    src: url(fonts/AGaramondPro-Italic.otf);
}

@font-face {
    font-family: fontTechnology;
    src: url(fonts/Technology.ttf)
}

@font-face {
    font-family: fontCode;
    src: url(fonts/Astro.ttf)
}

body {
    font-family: fontRegular;
}

.navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    z-index: 5;
    background-color: azure;
    box-shadow: 0 2px 2px -2px rgba(0,0,0.2);
}

.name {
    font-family: fontCode;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top:12px;
    left:50px;
    color:black;
    letter-spacing: 0.5px;;
}

.name:hover {
    color:aqua;
}

.icons {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
}

.icons div {
    margin-right: 20px;
    margin-top: 10px;
}

.icon {
    color:black;
    text-decoration: none;
}

.icon:hover {
    color:aqua;
}

.menu-icon {
    top: 30px;
    right:50px;
}

.menu-icon:hover {
    color:aqua
}

.menu-slide {
    height:100%;
    width:0;
    position: fixed;
    z-index:20;
    top:0;
    right:0;
    background-color: white;
    transition: 0.5s;
    padding-top:60px;
    overflow-x:hidden;
}

.menu-slide a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color:gray;
    display:block;
    transition:0.3s;
    font-family: fontRegular;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu-slide a:hover {
    color:white;
}

.menu-slide .menu-x {
    padding: 0px 0px 0px 20px;
    margin-top:0px;
    position: absolute;
    top:0;
    right:16px;
    margin-left:50px;
}

.menu-overlay {
    width:0;
    opacity:0.5;
    background: black;
    height: 1005;
    z-index: 15;
    top:60px;
}

.home {
    height:100vh;
    width:80%;
    margin:auto;
    text-align:center;
}

.home-case {
    width:450px;
    height:350px;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.home-box {
    display:inline-block;
    background-color: white;
    border: 1.4px solid rgb(136, 213, 233);
    width: 450px;
    height:248px;
    margin:0;
    color:rgb(136, 213, 233);
    font-family: fontRegular;
    font-size: 14px;
    letter-spacing: 3px;
}

.home-button {
    text-decoration: none;
    display: inline-block;
    font-family: fontRegularBold;
    text-transform: uppercase;
    font-weight:400;
    font-size:11.8px;
    letter-spacing: 3px;
    border: 1px solid black;
    background-color:black;
    color: white;
    padding:12px;
    margin:24px;
    margin-top:70px;
}

.typewriter h1, .typewriter-1 h1, .typewriter-2 h1 {
    overflow:hidden;
    white-space: nowrap;
    margin:0 auto;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    animation-fill-mode: both;
}

@keyframes typing {
    from {width:0}
    to {width:100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: orange}
}
.typewriter h1 {
    margin-top: 55px;
}
.typewriter-1 h1 {
    animation-delay:2s;
}
.typewriter-2 h1 {
    animation-delay: 4s;
}

a{
    text-decoration: none;
}

.footer{
    color:rgb(195, 219, 221);
    background-color:rgb(243, 243, 243);
    width:100%;
}

.grey-links {
    color:rgb(195, 219, 221);
    height:192px;
    padding-top:55px;
    padding-left:8%
}

.linkedin-block {
    text-align:right;
    background-color: white;
    margin:auto;
    height:63px;
    text-align: right;
}

#linkedin-logo {
    color:#333;
    font-size: 20px;
    padding:28px;
    padding-left:40px;
}

#linkedin-logo:hover {
    color:#366ed6b7;
}

.pages {
    text-transform: uppercase;
    color:#366ed6b7;
    font-family: fontRegular;
    font-size:20px;
    font-weight:400;
    letter-spacing:2px;
    margin-bottom:8px;
    line-height:18px;
}

.grey-link {
    color:black;
    font-family: fontRegular;
    font-size:17px;
    font-weight:400px;
    line-height: 36.5px;
}

.grey-link:hover {
    color:#366ed6b7;
}

.contact-container{
    width:60%;
    margin: auto;
    color:#36cdd6;
}

.contact-title{
    margin-top:180px;
    margin-bottom: 18px;
    font-family: fontRegular;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4.5px;
    color:#89dcd9;
}

.contact-form{
    font-family: fontRegular;
    font-size: 17px;
}

.contact-label{
    text-align:left;
    width:100%;
    margin-bottom: 0px;
    margin-top:18px;
}

input[type=text], select{
    width:93%;
    font-size: 17px;
    font-family:fontRegular;
    background-color: #f5f5f5;
    padding: 22px 14px;
    margin: 10px 0;
    border:none;
    border-bottom: px solid #e0e0e0;
}

input[type=submit], select{
    width:100%;
    font-size: 17px;
    font-family: fontRegular;
    padding:22px 14px;
    margin:10px 0;
    margin-bottom:110px;
    background-color: #5fd2d9;
    color:white;
    border:none;
    border-radius: 0%;
    -webkit-appearance:none;
    -webkit-border-radius:none;
    cursor:pointer;
}

input[type=submit]:hover{
    background-color: #f7f7f7;
    color: #444;
}

input:focus, textarea:focus{
    outline:none;
}

#contact-thankyou{
    display:none;
    width:70%;
    padding-bottom: 190px;
    padding-top: 8px;
    padding-bottom:100px;
    color:#56807e;
    font-family: fontRegular;
    font-size:27px;
    letter-spacing:0.4px;
    line-height: 1.6;
}

#note{
    height:250px;
    line-height: 1.0;
    width:93%;
    font-size: 17px;
    font-family: fontRegular;
    background-color: #f5f5f5;
    padding: 22px 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
}

#submitted{
    display:none;
}